/******************* Global ******************************/

*{
    box-sizing: border-box;
}


/******************* EveryPage ******************************/

.logo {
    width: 75px;
    height: auto;
}

/******* Footer *******/

footer {
    background-color: #242a5b;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.socialMedia {
    font-size: 50px;
    margin: auto;
}

.socialMedia a{
    text-decoration: none;
    color: #e61a2c;
}

#me a,
#me {
    color: white;
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
}

/******* Iconmoon *******/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v9c1vg');
  src:  url('../fonts/icomoon.eot?v9c1vg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v9c1vg') format('truetype'),
    url('../fonts/icomoon.woff?v9c1vg') format('woff'),
    url('../fonts/icomoon.svg?v9c1vg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before{
    font-family: 'icomoon';
    content: attr(data-icon);
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


/******************* Home page ******************************/

/******* Carousel *******/


.carousel-item img{
    max-width: 100%;
    height: 275px;
}

/******* rss feed *******/


.news-feed{
    text-align: center;
    margin: 20px auto;
    color: #242a5b;
}


/******* PodCast *******/

.podCast h3{
    text-align: center;
    margin-bottom: 25px;
}

.podCast {
    width: 90%;
    margin: auto;
    color: #242a5b;
}




/******************* ProjRank Page ******************************/
.players{
    text-align: center;
}
.playerData {
    width: 350px;
    margin: 0 auto 20px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: 12px 0; /* Add some space below and above input */
}
.sortByCat{
    margin: 25px 0 2px;
    text-align: left;
}

#myTable th {
    text-align: center;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
}

#myTable th, #myTable td {
   /* text-align: left;  Left-align text */
    padding: 2px 3px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}


/******************* Blog Page ******************************/

.blogPost{
    text-align: center;
    margin: auto;
}

.blogPost article{
    margin: 25px auto;
    width: 90%
    
}

.blogPost p,
.blogPost h3{
    margin: 5px 0    
}

.blogImg{
    width: 80%;
    margin: 15px 0;
}

.singlePodCast{
    max-width: 90%;
    margin: auto;
    padding: 30px 0 0;
}


/******************* Media Query******************************/


@media (min-width: 720px){
    #carousel {
        width: 75%;
        margin: auto;
    }
    
    
}