/******************* Global ******************************/

*{
    box-sizing: border-box;
}


/******************* EveryPage ******************************/

.logo {
    width: 75px;
    height: auto;
}

/******* Footer *******/

footer {
    background-color: #242a5b;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.socialMedia {
    font-size: 50px;
    margin: auto;
}

.socialMedia a{
    text-decoration: none;
    color: #e61a2c;
}

#me a,
#me {
    color: white;
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
}

/******* Iconmoon *******/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v9c1vg');
  src:  url('../fonts/icomoon.eot?v9c1vg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v9c1vg') format('truetype'),
    url('../fonts/icomoon.woff?v9c1vg') format('woff'),
    url('../fonts/icomoon.svg?v9c1vg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before{
    font-family: 'icomoon';
    content: attr(data-icon);
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


/******************* Home page ******************************/

.podCast h3{
    text-align: center;
    margin-bottom: 25px;
}

/******* Home page Carousel *******/


.carousel-item img{
    max-width: 100%;
    height: 250px;
}




/******* rss feed *******/


.news-feed{
    text-align: center;
    margin: 20px auto;
    color: #242a5b;
}



/******************* ProjRank Page ******************************/
.players{
    text-align: center;
}
.playerData {
    width: 350px;
    text-align: center;
    margin: 20px auto;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

/******************* Media Query******************************/


@media (min-width: 720px){
    #carousel {
        max-width: 75%;
        margin: auto;
    }
    
    
}